.carousel-item{
    height: 30rem;
}

#gallery{
    background-color:#f8edeb;
}

#reviews{
    background-color:#f8edeb;
}

#star-reviews{
    height: 250px;
    width: 450px;
}

#wedding-wire-reviews{
    height: 250px; 
    font-size: 10.5pt;  
}

#couples-choice-award{
   width: 450px; 
}

.carousel-item > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Set a width on the image; at present this is not flexible */
    max-width: 80%; 
    height: 40rem;
    margin: 0 auto;
  }